* {
    font-family: "Roboto", sans-serif;
}

.form-wrapper {
    width: 500px;
    padding: 30px;
    margin: 50px auto;
    border: 1px solid dimgrey;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input[type="number"],
.form-group input[type="text"] {
    display: block;
    padding: 6px 12px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.box-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-flex button {
    padding: 6px 12px;
    font-size: 15px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.box-flex .result {
    height: 100px;
    overflow: auto;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid gainsboro;
    box-sizing: border-box;
}