div {
    width: 250px;
    height: 250px;
}

.box-a {
    background-color: red;
    display: inline-block;
}

.box-b {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/hot-girl.jpg');
    display: inline-block;
}